.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-iblock {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.jc-center {
  justify-content: center !important;
}

.jc-start {
  justify-content: flex-start !important;
}

.jc-end {
  justify-content: flex-end !important;
}

.jc-between {
  justify-content: space-between !important;
}

.jc-around {
  justify-content: space-around !important;
}

.jc-evenly {
  justify-content: space-evenly !important;
}

.jc-stretch {
  justify-content: stretch !important;
}

.jc-baseline {
  justify-content: baseline !important;
}

.jc-initial {
  justify-content: initial !important;
}

.jc-inherit {
  justify-content: inherit !important;
}

.ai-center {
  align-items: center !important;
}

.ai-start {
  align-items: flex-start !important;
}

.ai-end {
  align-items: flex-end !important;
}

.ai-baseline {
  align-items: baseline !important;
}

.ai-stretch {
  align-items: stretch !important;
}

.ai-initial {
  align-items: initial !important;
}

.ai-inherit {
  align-items: inherit !important;
}

.ac-center {
  align-content: center !important;
}

.ac-start {
  align-content: flex-start !important;
}

.ac-end {
  align-content: flex-end !important;
}

.ac-between {
  align-content: space-between !important;
}

.ac-around {
  align-content: space-around !important;
}

.ac-stretch {
  align-content: stretch !important;
}

.ac-initial {
  align-content: initial !important;
}

.ac-inherit {
  align-content: inherit !important;
}

.as-center {
  align-self: center !important;
}

.as-start {
  align-self: flex-start !important;
}

.as-end {
  align-self: flex-end !important;
}

.as-baseline {
  align-self: baseline !important;
}

.as-stretch {
  align-self: stretch !important;
}

.as-initial {
  align-self: initial !important;
}

.as-inherit {
  align-self: inherit !important;
}

.fd-row {
  flex-direction: row !important;
}

.fd-row-reverse {
  flex-direction: row-reverse !important;
}

.fd-column {
  flex-direction: column !important;
}

.fd-column-reverse {
  flex-direction: column-reverse !important;
}

.fd-initial {
  flex-direction: initial !important;
}

.fd-inherit {
  flex-direction: inherit !important;
}

.fw-wrap {
  flex-wrap: wrap !important;
}

.fw-nowrap {
  flex-wrap: nowrap !important;
}

.fw-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.fw-initial {
  flex-wrap: initial !important;
}

.fw-inherit {
  flex-wrap: inherit !important;
}

.fg-1 {
  flex-grow: 1 !important;
}

.fg-0 {
  flex-grow: 0 !important;
}

.fg-initial {
  flex-grow: initial !important;
}

.fg-inherit {
  flex-grow: inherit !important;
}

.fs-1 {
  flex-shrink: 1 !important;
}

.fs-0 {
  flex-shrink: 0 !important;
}

.fs-initial {
  flex-shrink: initial !important;
}

.fs-inherit {
  flex-shrink: inherit !important;
}

.fb-1 {
  flex-basis: 1 !important;
}

.fb-0 {
  flex-basis: 0 !important;
}

.fb-auto {
  flex-basis: auto !important;
}

.fb-initial {
  flex-basis: initial !important;
}

.fb-inherit {
  flex-basis: inherit !important;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 1rem !important;
}

.gap-4 {
  gap: 2rem !important;
}

.gap-5 {
  gap: 3rem !important;
}

.row-gap-1 {
  row-gap: 0.25rem !important;
}

.row-gap-2 {
  row-gap: 0.5rem !important;
}

.row-gap-3 {
  row-gap: 1rem !important;
}

.row-gap-4 {
  row-gap: 2rem !important;
}

.row-gap-5 {
  row-gap: 3rem !important;
}

.col-gap-1 {
  column-gap: 0.25rem !important;
}

.col-gap-2 {
  column-gap: 0.5rem !important;
}

.col-gap-3 {
  column-gap: 1rem !important;
}

.col-gap-4 {
  column-gap: 2rem !important;
}

.col-gap-5 {
  column-gap: 3rem !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.fixed {
  position: fixed !important;
}

.static {
  position: static !important;
}

.sticky {
  position: sticky !important;
}

.inherit {
  position: inherit !important;
}

.initial {
  position: initial !important;
}
