/* mobiles */
.wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.footer-content {
  max-width: 95%;
  margin: 0 auto !important;
}

/* tablet */
@media screen and (min-width: 1024px) {
  .wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }

    .footer-content {
      max-width: 90%;
      margin: 0 auto !important;
    }
}

/* smalls pcs */
@media screen and (min-width: 1280px) {
    .wrapper {
        padding-left: 3rem;
        padding-right: 3rem;
        width: 100%;
    }

        .footer-content {
          max-width: 85%;
          margin: 0 auto !important;
        }
}

/* normal and big pcs */
@media screen and (min-width: 1920px) {
    .wrapper {
        padding-left: 4rem;
        padding-right: 4rem;
        width: 1920px;
    }
}
