.mediaContainer {
  display: flex;
  margin: 0 auto;
  width: 100%;

  div {
    position: unset !important;
  }
}

.mediaImg {
  height: unset !important;
  position: relative !important;
  object-fit: contain;
}
