@import '../../../../styles/_colors';

.contentContainer {
  position: absolute;
  top: 0;
}

.text {
  text-shadow: 0 0 3px #000 !important;
}

.headerChip {
  background-color: rgba($premium-main, 0.6) !important;
}

.serviceChip {
  background-color: rgba($premium-main, 0.6) !important;
  font-size: 10px !important;
}

.infoContainer {
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: all 0.35s linear;
}

.infoContainerShow {
  max-height: 600px;
}

.infoContainerHide {
  max-height: 28px;
}

.descriptionText {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-size: clamp(12px, 1vw, 14px) !important;
  text-shadow: 0 0 3px #000 !important;
}
