.videoContainer {
    position: absolute;
}

.blur {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    position: absolute;
    z-index: 2;
}

.videoBackground {
    left: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    z-index: 1;
}