.item {
  padding-left: 8px;

  &:hover {
    & > .aware {
      height: calc(160px * 2.25);
      width: calc(160px * 2.25);
    }
  }

  & > .aware {
    position: absolute;
    display: block;
    width: 0%;
    height: 0%;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, 50%);
    z-index: -1;
  }
}
