.icon {
  bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  font-size: 50px;
  font-size: 7rem !important;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}
