.highlightBorder {
  background-image: conic-gradient(
    from var(--border-angle),
    transparent 10%,
    theme('colors.woodsmoke.50'),
    theme('colors.primary.500')
  );
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0turn;
}
