@use '../abstracts/mixins' as *;
@use '../base/keyframes' as *;

@layer components {
  .btn {
    @apply rounded-full border px-3 py-1.5 text-base font-normal shadow-sm transition-shadow duration-300 ease-in-out;

    @include button-colored(slate);
    @include generate-all-button-colored();

    --text-color: var(--clr-shade-50);
    --fill-color: var(--clr-shade-50);
    --border-color: var(--border-base-color);
    --bg-color: color-mix(in srgb, var(--background-base-color) 50%, black 40%);

    --text-color-hover: color-mix(in srgb, var(--text-color), white 20%);
    --bg-color-hover: color-mix(in srgb, var(--background-base-color) 70%, black 40%);

    /* base styles */
    color: var(--text-color);
    fill: var(--fill-color);
    border-color: var(--border-color);
    background: var(--bg-color);

    html.dark & {
      --bg-color: color-mix(in srgb, var(--background-base-color) 80%, white 20%);

      --text-color-hover: color-mix(in srgb, var(--text-color), white 20%);
      --bg-color-hover: color-mix(in srgb, var(--background-base-color) 90%, white 15%);
    }

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      @apply shadow-slate-950/20;

      color: var(--text-color-hover);
      background: var(--bg-color-hover);
    }

    &:active:not(:disabled) > div {
      @apply scale-95 transform;
    }

    &:disabled {
      @apply cursor-not-allowed;

      opacity: 0.7;
    }

    /* variants */
    &.primary {
      --text-color: var(--text-base-color);
      --fill-color: var(--fill-base-color);
      --bg-color: color-mix(in srgb, var(--background-base-color) 80%, black 30%);

      --bg-color-hover: color-mix(in srgb, var(--bg-color) 70%, black 40%);
      --bg-color-brightness: color-mix(in srgb, var(--bg-color), white 10%);
      --bg-color-darkness: color-mix(in srgb, var(--bg-color), black 20%);

      &:hover:not(:disabled),
      &:active:not(:disabled) {
        background: radial-gradient(
          100% 100% at 100% 0,
          var(--bg-color-brightness) 0,
          var(--bg-color-darkness) 100%
        );

        html.dark & {
          --bg-color-brightness: color-mix(in srgb, var(--bg-color), white 5%);
          --bg-color-darkness: color-mix(in srgb, var(--bg-color), black 10%);

          background: var(--bg-color-brightness);
          background: radial-gradient(
            100% 100% at 100% 0,
            var(--bg-color-darkness) 0,
            var(--bg-color-brightness) 100%
          );
        }
      }
    }

    &.secondary {
      @apply border-none text-base font-medium;

      --text-color: var(--background-base-color);
      --fill-color: var(--background-base-color);
      --bg-color: color-mix(in srgb, var(--text-base-color) 30%, white 70%);

      --bg-color-hover: color-mix(in srgb, var(--text-base-color) 50%, white 40%);

      html.dark & {
        --bg-color: color-mix(in srgb, var(--text-base-color) 40%, white 50%);

        --bg-color-hover: color-mix(in srgb, var(--text-base-color) 40%, white 70%);
      }
    }

    /* custom variants */
    &.glassmorphism {
      @apply font-medium transition-[background,color];

      --text-color-glass: color-mix(in srgb, var(--text-color) 15%, black 100%);
      --fill-color-glass: color-mix(in srgb, var(--fill-color) 15%, black 100%);
      --border-color-glass: color-mix(in srgb, var(--border-color) 80%, transparent);
      --bg-color-glass: color-mix(in srgb, var(--bg-color) 30%, transparent);

      color: var(--text-color-glass);
      fill: var(--fill-color-glass);
      border-color: var(--border-color-glass);
      background: var(--bg-color-glass);

      &:hover:not(:disabled),
      &:active:not(:disabled) {
        --text-color-glass: color-mix(in srgb, var(--text-color) 100%, white 100%);
        --fill-color-glass: color-mix(in srgb, var(--fill-color) 100%, white 100%);
        --bg-color-glass-hover: color-mix(in srgb, var(--bg-color-hover) 30%, transparent);

        color: var(--text-color-glass);
        fill: var(--fill-color-glass);
        background: var(--bg-color-glass-hover);
      }

      html.dark & {
        --text-color-glass: color-mix(in srgb, var(--text-color) 15%, white 100%);
        --fill-color-glass: color-mix(in srgb, var(--fill-color) 15%, white 100%);
        --border-color-glass: color-mix(in srgb, var(--border-color) 80%, transparent);
        --bg-color-glass: color-mix(in srgb, var(--bg-color) 40%, transparent);

        color: var(--text-color-glass);
        fill: var(--fill-color-glass);
        border-color: var(--border-color-glass);
        background: var(--bg-color-glass);

        &:hover:not(:disabled),
        &:active:not(:disabled) {
          --text-color-glass: color-mix(in srgb, var(--text-color) 100%, black 10%);
          --fill-color-glass: color-mix(in srgb, var(--fill-color) 100%, black 10%);
          --bg-color-glass-hover: color-mix(in srgb, var(--bg-color-hover) 50%, transparent);

          color: var(--text-color-glass);
          fill: var(--fill-color-glass);
          background: var(--bg-color-glass-hover);
        }
      }
    }

    &.icon {
      @apply aspect-square p-2;

      &:not(.secondary):not(.glassmorphism) {
        background: var(--bg-color);

        html.dark & {
          background: var(--bg-color);
        }
      }
    }
  }

  .btn-group {
    @apply flex rounded-2xl;

    & > :first-child {
      @apply rounded-l-2xl;
    }

    & > :last-child {
      @apply rounded-r-2xl;
    }

    & > :not(:first-child) {
      @apply border-l border-shade-700/50 dark:border-shade-400/50;
    }
  }

  .btn-link {
    @apply flex items-center gap-x-2 px-3 py-1.5 text-shade-100 transition-[background] duration-150 hover:bg-gray-950/10;
  }
}
