@use '../abstracts/mixins' as *;
@use '../base/keyframes' as *;

@layer components {
  .btn {
    @apply relative h-auto rounded-full border px-3 py-1.5 text-base font-normal;

    @include button-colored(slate);
    @include generate-all-button-colored();

    --bg-color: var(--background-base-color);
    --text-color: var(--text-base-color);
    --fill-color: var(--fill-base-color);
    --border-color: var(--border-base-color);

    --bg-color-brightness: color-mix(in srgb, var(--bg-color), white 10%);
    --bg-color-darkness: color-mix(in srgb, var(--bg-color), black 20%);

    color: var(--text-color);
    fill: var(--fill-color);
    border-color: var(--border-color);
    background: var(--bg-color);

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      background: var(--bg-color-darkness);
      background: radial-gradient(
        100% 100% at 100% 0,
        var(--bg-color-brightness) 0,
        var(--bg-color-darkness) 100%
      );

      html.dark & {
        background: var(--bg-color-brightness);
        background: radial-gradient(
          100% 100% at 100% 0,
          var(--bg-color-darkness) 0,
          var(--bg-color-brightness) 100%
        );
      }

      html.dark & {
        --bg-color-brightness: color-mix(in srgb, var(--bg-color), white 5%);
        --bg-color-darkness: color-mix(in srgb, var(--bg-color), black 10%);
      }
    }

    &:active:not(:disabled) > :first-child {
      @apply scale-95 transform;
    }

    &:disabled {
      @apply cursor-not-allowed;

      opacity: 0.7;
    }

    &.secondary {
      @apply border-none text-base font-medium shadow-sm shadow-slate-950/20;

      --secondary-bg-color: var(--text-color);

      color: var(--bg-color);
      background: var(--secondary-bg-color);

      &:hover:not(:disabled),
      &:active:not(:disabled) {
        background: var(--secondary-bg-color);
      }

      html.dark & {
        --secondary-bg-color: color-mix(in srgb, var(--text-color), black 10%);

        &:hover:not(:disabled),
        &:active:not(:disabled) {
          background: var(--secondary-bg-color);
        }
      }
    }
  }

  .btn-group {
    @apply flex rounded-2xl;

    & > :first-child {
      @apply rounded-l-2xl;
    }

    & > :last-child {
      @apply rounded-r-2xl;
    }

    & > :not(:first-child) {
      @apply border-l border-shade-700/50 dark:border-shade-400/50;
    }
  }

  .btn-link {
    @apply flex items-center gap-x-2 px-3 py-1.5 text-shade-100 transition-[background] duration-150 hover:bg-gray-950/10;
  }
}
