.user-type-container::before {
  content: '';
  inset: 0;
  position: absolute;
  width: 0;
  height: 0;
  background-color: var(--clr-shade-950);
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition:
    height 0.25s ease,
    width 0.25s ease,
    background-color 0.25s ease;
  opacity: 0.8;
  z-index: -1;
}

.user-type-container:hover::before {
  background-color: var(--clr-shade-900);
  width: 10rem;
  height: 10rem;
}

.user-type-decorator {
  fill: var(--clr);
  transition: fill 0.25s ease;
}

.user-type-decorator:hover {
  fill: var(--clr-shade-100);
}
