.hero {
  @apply relative overflow-hidden;

  height: clamp(20rem, 30vw, 40rem);

  &::after {
    content: '';
    position: absolute;
    bottom: 75px;
    transform: translateY(50%);
    width: 75px;
    height: 75px;
    border-radius: 50% 0;
    background: linear-gradient(45deg, var(--clr-brand-600), var(--clr-brand-950));
  }
}

.hero-banner {
  @apply relative bg-shade-950;

  img {
    @apply object-cover object-left-top contrast-125 grayscale;
    mask: linear-gradient(90deg, hsl(0 0% 0% / 0) 5%, hsl(0 0% 100% / 0.9), hsl(0 0% 0% / 0) 95%);
  }
}

.hero-title {
  @apply absolute right-0 top-12 z-10 text-end font-heading text-6xl font-extrabold text-brand-700;
}
