// Separator
.separator-root {
  background-color: var(--clr-shade-400);

  html.dark & {
    background-color: var(--clr-shade-600);
  }
}

.separator-root[data-orientation='horizontal'] {
  height: 1px;
  width: 100%;
}

.separator-root[data-orientation='vertical'] {
  height: 100%;
  width: 1px;
}
