.btnCheckbox {
  display: none;

  &:checked + .btnLabel {
    transform: rotateZ(-90deg);
  }

  &:checked + .btnLabel div {
    width: 4px;
    margin-left: 12px;
  }
}

.btnLabel {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease transform;

  div {
    border-radius: 4px;
    transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
      0.3s ease background-color;
  }

  div:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }

  div:last-child {
    width: 100%;
  }
}
