.grid {
  max-width: 1200px;
  margin: 0 auto;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  padding: 8px;
}

/* 2 columns wide */
.grid-item--width2 {
  width: 50%;
}
