@import '../../../../styles/_colors';

.contentContainer {
    position: absolute;
    top: 0;
}

.text {
    text-shadow: 0 0 3px #000 !important;
}

.headerChip {
    background-color: rgba($gold-main, 0.6) !important;
}