.topbar {
  transition: height 0.15s ease-in-out;
}

@media (max-width: 600px) {
  .simpleFilters {
    display: flex;
  }

  .filters {
    display: none !important;
  }
}

@media (min-width: 601px) {
  .simpleFilters {
    display: none !important;
  }

  .filters {
    display: flex;
  }
}
