@use 'sass:color';

@use '../abstracts' as *;

@layer base {
  :root {
    // Colors
    @each $color, $shades in $colors {
      @each $shade, $value in $shades {
        --clr-#{$color}-#{$shade}: #{$value};
        --clr-#{$color}-#{$shade}-ch: #{red($value) green($value) blue($value)};
      }
    }

    --clr-body: var(--clr-shade-950);
    --clr-link: var(--clr-brand-500);
    --bg-body: var(--clr-shade-50);

    // Font sizes
    @each $scale, $screen-size in $type-scale {
      $min: map-get($screen-size, small);
      $max: map-get($screen-size, big);

      --fs-#{$scale}: #{clamp($min, 1vw + (($max - $min) * 2), $max)};
      // --fs-#{$scale}: #{clamp($min, 8vw, $max)};
    }

    // Font families
    --default-font-family: var(--font-default);
    --heading-font-family: var(--font-heading);

    --fs-body: var(--fs-300);

    // Font weights
    --fw-light: 200;
    --fw-regular: 300;
    --fw-medium: 400;
    --fw-bold: 700;

    // Components
    --navbar-top-height: 2.75rem;
    --navbar-bottom-height: 1.75rem;
    --navbar-full-height: calc(var(--navbar-top-height) + var(--navbar-bottom-height));

    // Misc
    $shades: map-get($colors, shade);

    --bg-gradient: radial-gradient(
      ellipse farthest-corner at center bottom,
      #{lighten(map-get($shades, 50), 5%)} 0%,
      #{darken(map-get($shades, 50), 15%)} 100%
    );
    --brand-gradient: linear-gradient(to right, var(--clr-shade-900) 0%, var(--clr-shade-100) 100%);
  }

  // Dark mode
  html.dark {
    // Colors
    --clr-body: var(--clr-shade-50);
    --clr-link: var(--clr-brand-800);
    --bg-body: var(--clr-shade-950);

    // Misc
    $shades: map-get($colors, shade);

    --bg-gradient: radial-gradient(
      ellipse farthest-corner at center bottom,
      #{lighten(map-get($shades, 950), 20%)} 0%,
      #{darken(map-get($shades, 950), 20%)} 100%
    );
    --brand-gradient: linear-gradient(to right, var(--clr-shade-50) 0%, var(--clr-shade-700) 100%);
  }
}
