@use '../abstracts' as *;

@layer base {
  :root {
    // Colors
    @each $color, $shades in $colors {
      @each $shade, $value in $shades {
        --clr-#{$color}-#{$shade}: #{$value};
        --clr-#{$color}-#{$shade}-ch: #{red($value) green($value) blue($value)};
      }
    }

    --bg-body: var(--clr-shade-50);

    // Font sizes
    @each $scale, $screen-size in $type-scale {
      $min: map-get($screen-size, 'small');
      $max: map-get($screen-size, 'big');

      --fs-#{$scale}: #{clamp($min, 8vw, $max)};
    }

    // Font families
    --default-font-family: var(--font-default);
    --heading-font-family: var(--font-heading);

    --fs-body: var(--fs-300);

    // Font weights
    --fw-light: 200;
    --fw-regular: 300;
    --fw-medium: 500;
    --fw-bold: 700;

    // Components
    --navbar-top-height: 2.75rem;
    --navbar-bottom-height: 1.625rem;
    --navbar-full-height: calc(var(--navbar-top-height) + var(--navbar-bottom-height));

    // Misc
    --brand-gradient: linear-gradient(to right, var(--clr-shade-900) 0%, var(--clr-shade-100) 100%);
  }

  // Dark mode
  html.dark {
    // Body background
    --bg-body: var(--clr-shade-950);

    // Misc
    --brand-gradient: linear-gradient(to right, var(--clr-shade-50) 0%, var(--clr-shade-700) 100%);
  }
}
