@layer utilities {
  .bg-dropshadow {
    --clr-shadow: var(--clr-shade-50);

    -webkit-box-shadow: 0px 5px 100px 90px var(--clr-shadow);
    -moz-box-shadow: 0px 5px 100px 90px var(--clr-shadow);
    box-shadow: 0px 5px 100px 90px var(--clr-shadow);

    html.dark & {
      --clr-shadow: var(--clr-shade-950);
    }
  }

  .glassmorphism {
    @apply border border-shade-300/20 bg-shade-100/60 text-shade-950 backdrop-blur-lg dark:border-shade-900/70 dark:bg-shade-300/20 dark:text-shade-50;
  }

  .glow {
    &::before,
    &::after {
      @apply absolute transition-opacity duration-300 ease-in-out;

      --opacity: 0.2;

      content: '';
      border-radius: inherit;
      background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-brand-500),
        var(--clr-brand-700),
        var(--clr-accent-700),
        var(--clr-accent-500),
        var(--clr-brand-500)
      );
      opacity: 0;
      z-index: -1;
      animation: rotation 20s linear infinite;
    }

    &::after {
      inset: -0.15rem;
    }

    &::before {
      inset: -0.25rem;
      filter: blur(0.15rem);
    }

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      &::before,
      &::after {
        opacity: var(--opacity);
      }
    }

    html.dark & {
      --opacity: 0.4;
    }
  }
}
