.vignette {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.7) inset;
  }
}

.animated-gradient {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: conic-gradient(
      from var(--gradient-angle),
      var(--clr-brand-600),
      var(--clr-accent-600)
    );
    border-radius: inherit;
    animation: rotation 15s linear infinite;
    filter: blur(2.75rem);
    opacity: 0.4;
    z-index: -1;
  }
}

.svg-background-1 {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.4;
    background-image: url('/gradients/bg-gradient-1.svg');
    background-size: cover; /* Cover the entire container */
    background-position: top; /* Center the image horizontally */
    background-repeat: no-repeat; /* Do not repeat the image */
    z-index: -1;
  }
}

.svg-background-2 {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.2;
    background-image: url('/gradients/bg-gradient-2.svg');
    background-size: cover; /* Cover the entire container */
    background-position: top; /* Center the image horizontally */
    background-repeat: no-repeat; /* Do not repeat the image */
    z-index: -1;
  }
}

.svg-background-3 {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;
    background-image: url('/backgrounds/bg-1.svg');
    background-size: cover; /* Cover the entire container */
    background-position: top; /* Center the image horizontally */
    background-repeat: no-repeat; /* Do not repeat the image */
    z-index: -1;
  }
}
