@use '../abstracts/mixins' as *;
@use '../base/keyframes' as *;

.gradient-heading {
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 150%;
  color: transparent;
  background-image: var(--brand-gradient);

  @include animation('bg-right-to-left 10s ease-in-out infinite alternate');
}

.heading-decorator {
  &::after {
    content: '';
    background-color: var(--clr-brand-700);
    border-radius: 0.25rem;
    display: block;
    height: 0.25rem;
    width: 25%;
    max-width: 6rem;
  }
}
