$colors: (
  brand: (
    50: hsl(352, 100%, 97%),
    100: hsl(354, 100%, 95%),
    200: hsl(350, 100%, 90%),
    300: hsl(350, 100%, 82%),
    400: hsl(349, 100%, 71%),
    500: hsl(348, 96%, 60%),
    600: hsl(345, 83%, 50%),
    700: hsl(343, 88%, 41%),
    800: hsl(341, 85%, 35%),
    900: hsl(340, 81%, 30%),
    950: hsl(341, 95%, 16%),
  ),
  accent: (
    50: hsl(203, 100%, 97%),
    100: hsl(204, 95%, 93%),
    200: hsl(202, 100%, 87%),
    300: hsl(201, 98%, 78%),
    400: hsl(202, 95%, 68%),
    500: hsl(206, 93%, 60%),
    600: hsl(211, 85%, 53%),
    700: hsl(214, 78%, 48%),
    800: hsl(215, 72%, 42%),
    900: hsl(214, 65%, 33%),
    950: hsl(215, 59%, 21%),
  ),
  shade: (
    50: hsl(195, 11%, 93%),
    100: hsl(192, 14%, 86%),
    200: hsl(203, 16%, 78%),
    300: hsl(202, 15%, 65%),
    400: hsl(202, 14%, 49%),
    500: hsl(205, 16%, 39%),
    600: hsl(207, 15%, 35%),
    700: hsl(207, 14%, 28%),
    800: hsl(210, 10%, 24%),
    900: hsl(213, 10%, 21%),
    950: hsl(206, 11%, 12%),
  ),
);
