$colors: (
  brand: (
    50: hsl(352, 100%, 97%),
    100: hsl(354, 100%, 95%),
    200: hsl(350, 100%, 90%),
    300: hsl(350, 100%, 82%),
    400: hsl(349, 100%, 71%),
    500: hsl(348, 96%, 60%),
    600: hsl(345, 83%, 50%),
    700: hsl(343, 88%, 41%),
    800: hsl(341, 85%, 35%),
    900: hsl(340, 81%, 30%),
    950: hsl(341, 95%, 16%),
  ),
  accent: (
    50: hsl(203, 100%, 97%),
    100: hsl(204, 95%, 93%),
    200: hsl(202, 100%, 87%),
    300: hsl(201, 98%, 78%),
    400: hsl(202, 95%, 68%),
    500: hsl(206, 93%, 60%),
    600: hsl(211, 85%, 53%),
    700: hsl(214, 78%, 48%),
    800: hsl(215, 72%, 42%),
    900: hsl(214, 65%, 33%),
    950: hsl(215, 59%, 21%),
  ),
  shade: (
    50: hsl(195, 11%, 93%),
    100: hsl(192, 14%, 86%),
    200: hsl(203, 16%, 78%),
    300: hsl(202, 15%, 65%),
    400: hsl(202, 14%, 49%),
    500: hsl(205, 16%, 39%),
    600: hsl(207, 15%, 35%),
    700: hsl(207, 14%, 28%),
    800: hsl(210, 10%, 24%),
    900: hsl(213, 10%, 21%),
    950: hsl(206, 11%, 12%),
  ),
  elite: (
    50: hsl(211, 30%, 85%),
    100: hsl(218, 26%, 82%),
    200: hsl(214, 29%, 74%),
    300: hsl(213, 30%, 62%),
    400: hsl(214, 30%, 48%),
    500: hsl(215, 27%, 36%),
    600: hsl(218, 32%, 27%),
    700: hsl(219, 31%, 20%),
    800: hsl(223, 27%, 15%),
    900: hsl(222, 21%, 12%),
    950: hsl(225, 40%, 2%),
  ),
  pro: (
    50: hsl(210, 67%, 98%),
    100: hsl(208, 87%, 97%),
    200: hsl(205, 89%, 89%),
    300: hsl(204, 90%, 77%),
    400: hsl(204, 88%, 63%),
    500: hsl(204, 84%, 51%),
    600: hsl(206, 93%, 40%),
    700: hsl(207, 92%, 35%),
    800: hsl(206, 86%, 30%),
    900: hsl(207, 75%, 27%),
    950: hsl(209, 77%, 19%),
  ),
  prime: (
    50: hsl(68, 80%, 94%),
    100: hsl(66, 85%, 87%),
    200: hsl(64, 85%, 76%),
    300: hsl(60, 86%, 63%),
    400: hsl(56, 84%, 52%),
    500: hsl(53, 82%, 46%),
    600: hsl(47, 85%, 39%),
    700: hsl(41, 80%, 32%),
    800: hsl(36, 70%, 28%),
    900: hsl(32, 61%, 25%),
    950: hsl(29, 73%, 13%),
  ),
);

$color-keys: (
  brand,
  accent,
  shade,
  elite,
  pro,
  prime,
  red,
  orange,
  amber,
  yellow,
  lime,
  green,
  emerald,
  teal,
  cyan,
  sky,
  blue,
  indigo,
  violet,
  purple,
  fuchsia,
  pink,
  rose
);

$tw-colors: ();

@each $key in $color-keys {
  $new-colors: (
    $key: (
      // light: (
      //   border: #{'border-' + $key + '-700'},
      //   back-ground: #{'bg-' + $key + '-800'},
      //   fill: #{'fill-' + $key + '-100'},
      //   text: #{'text-' + $key + '-100'},
      // ),
      // dark: (
      //   border: #{'border-' + $key + '-500'},
      //   back-ground: #{'bg-' + $key + '-600'},
      //   fill: #{'fill-' + $key + '-50'},
      //   text: #{'text-' + $key + '-50'},
      // ),
      light:
        (
          border: #{'colors.' + $key + '.700'},
          back-ground: #{'colors.' + $key + '.800'},
          fill: #{'colors.' + $key + '.100'},
          text: #{'colors.' + $key + '.100'},
        ),
      dark: (
        border: #{'colors.' + $key + '.500'},
        back-ground: #{'colors.' + $key + '.600'},
        fill: #{'colors.' + $key + '.50'},
        text: #{'colors.' + $key + '.50'},
      ),
    ),
  );

  $tw-colors: map-merge($tw-colors, $new-colors);
}

$special-colors: (
  elite: (
    light: (
      border: 'colors.elite.300',
      back-ground: 'colors.elite.950',
      fill: 'colors.elite.100',
      text: 'colors.elite.100',
    ),
    dark: (
      border: 'colors.elite.400',
      back-ground: 'colors.elite.800',
      fill: 'colors.elite.50',
      text: 'colors.elite.50',
    ),
  ),
  pro: (
    light: (
      border: 'colors.pro.300',
      back-ground: 'colors.pro.950',
      fill: 'colors.pro.200',
      text: 'colors.pro.200',
    ),
    dark: (
      border: 'colors.pro.400',
      back-ground: 'colors.pro.800',
      fill: 'colors.pro.100',
      text: 'colors.pro.100',
    ),
  ),
  prime: (
    light: (
      border: 'colors.prime.500',
      back-ground: 'colors.prime.950',
      fill: 'colors.prime.200',
      text: 'colors.prime.200',
    ),
    dark: (
      border: 'colors.prime.400',
      back-ground: 'colors.prime.800',
      fill: 'colors.prime.100',
      text: 'colors.prime.100',
    ),
  ),
);

$tw-colors: map-merge($tw-colors, $special-colors);
