@use 'colors' as *;
@use 'breakpoints' as *;
@use 'functions' as *;

@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin colored($color) {
  $colorValues: get-colors($color);

  $theme: map-get($colorValues, light);

  border-color: theme(map-get($theme, border));
  background-color: theme(map-get($theme, bg) / 80%);
  fill: theme(map-get($theme, fill));
  color: theme(map-get($theme, text));

  html.dark & {
    $theme: map-get($colorValues, dark);

    border-color: theme(map-get($theme, border));
    background-color: theme(map-get($theme, bg) / 70%);
    fill: theme(map-get($theme, fill));
    color: theme(map-get($theme, text));
  }
}

@mixin generate-all-data-colors() {
  @each $key in $color-keys {
    &[data-color='#{$key}'] {
      @include colored($key);
    }
  }
}

@mixin button-colored($color) {
  $colorValues: get-colors($color);

  $theme: map-get($colorValues, light);

  border-color: theme(map-get($theme, border));
  background-color: theme(map-get($theme, bg) / 80%);
  fill: theme(map-get($theme, fill));
  color: theme(map-get($theme, text));

  &:hover {
    background-color: theme(map-get($theme, bg) / 90%);
  }

  &:disabled {
    background-color: theme(map-get($theme, bg) / 60%);
  }

  &:active {
    background-color: theme(map-get($theme, bg) / 100%);
  }
}

@mixin underlined($width: 0.05rem, $style: solid) {
  text-decoration-line: underline;
  text-decoration-style: $style;
  text-decoration-thickness: $width;
}
