$type-scale: (
  small: (
    // Major second
    100: 0.79rem,
    200: 0.889rem,
    300: 1rem,
    400: 1.125rem,
    500: 1.266rem,
    600: 1.424rem,
    700: 1.602rem,
    800: 1.802rem,
    900: 2.027rem,
    950: 2.278rem,
  ),
  big: (
    // Perfect fourth
    100: 0.563rem,
    200: 0.75rem,
    300: 1rem,
    400: 1.333rem,
    500: 1.777rem,
    600: 2.369rem,
    700: 3.157rem,
    800: 4.209rem,
    900: 5.61rem,
    950: 7.478rem,
  ),
);
