.cardMedia {
  -webkit-background-position: center;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: top;
  width: 100%;
  display: block;
}
