$primary-main: #D22A52;
$primary-light: #FF9AB0;
$primary-dark: #AA0035;

$vip-light: #1a1a1a;
$vip-main: #0a0a0a;
$vip-dark: #030303;

$premium-light: #e46e6c;
$premium-main: #DD4A47;
$premium-dark: #b13b39;

$gold-light: #d0bb93;
$gold-main: #b49151;
$gold-dark: #a17626;
