.radix-themes {
  /* fonts */
  --default-font-family: var(--font-default);
  --heading-font-family: var(--font-heading);

  --font-weight-light: 100;
  --font-weight-regular: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* containers */
  --container-4: 1366px;
  --container-3: 1024px;
  --container-2: 768px;
  --container-1: 480px;
}
