body {
  font-size: var(--fs-body);
  font-weight: var(--fw-body);
  font-family: var(--default-font-family);

  background-color: var(--clr-shade-100);
}

html.dark body {
  background-color: var(--clr-shade-950);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-weight: var(--fw-bold);
}

h2 {
  font-weight: var(--fw-bold);
}

h3 {
  font-weight: var(--fw-medium);
}

h4 {
  font-weight: var(--fw-medium);
}

h5 {
  font-weight: var(--fw-medium);
}

h6 {
  font-weight: var(--fw-medium);
}
