:root {
  /* Primary */
  --color-primary-50: #fef1f2;
  --color-primary-100: #fde7e9;
  --color-primary-200: #fbd0d6;
  --color-primary-300: #f7abb6;
  --color-primary-400: #f2788b;
  --color-primary-500: #e84a67;
  --color-primary-600: #d52a52;
  --color-primary-700: #b41d45;
  --color-primary-800: #971c41;
  --color-primary-900: #7e1b3c;
  --color-primary-950: #470a1d;

  /* Secondary */
  --color-secondary-50: #f0f7fe;
  --color-secondary-100: #dcecfd;
  --color-secondary-200: #c2dffb;
  --color-secondary-300: #97ccf9;
  --color-secondary-400: #66b0f4;
  --color-secondary-500: #438fee;
  --color-secondary-600: #2d72e3;
  --color-secondary-700: #255dd0;
  --color-secondary-800: #2248a0;
  --color-secondary-900: #224386;
  --color-secondary-950: #192a52;

  /* Woodsmoke */
  --color-woodsmoke-50: #ffffff;
  --color-woodsmoke-100: #f8fafc;
  --color-woodsmoke-200: #dce6ef;
  --color-woodsmoke-300: #b1c9dd;
  --color-woodsmoke-400: #80a4c6;
  --color-woodsmoke-500: #3b71ab;
  --color-woodsmoke-600: #2c4568;
  --color-woodsmoke-700: #22334e;
  --color-woodsmoke-800: #1b263b;
  --color-woodsmoke-900: #191f2f;
  --color-woodsmoke-950: #0b0d14;
}
