:root {
  /* Brand (Primary) color */

  --clr-brand-50: #fff0f1;
  --clr-brand-100: #ffe5e8;
  --clr-brand-200: #ffcbd2;
  --clr-brand-300: #ffa2af;
  --clr-brand-400: #ff6a83;
  --clr-brand-500: #fb375e;
  --clr-brand-600: #e9164b;
  --clr-brand-700: #bf0d3d;
  --clr-brand-800: #a1123d;
  --clr-brand-900: #861339;
  --clr-brand-950: #4d041a;

  /* Accent (Secondary) color */

  --clr-accent-50: #edfbff;
  --clr-accent-100: #d7f3ff;
  --clr-accent-200: #b8ecff;
  --clr-accent-300: #87e3ff;
  --clr-accent-400: #4fd0ff;
  --clr-accent-500: #26b5ff;
  --clr-accent-600: #0f99ff;
  --clr-accent-700: #087ce7;
  --clr-accent-800: #0e65bf;
  --clr-accent-900: #125696;
  --clr-accent-950: #10345b;

  /* Shades (shade) color */

  --clr-shade-50: #f8f9fc;
  --clr-shade-100: #eef1f7;
  --clr-shade-200: #d1dcea;
  --clr-shade-300: #a8bdd7;
  --clr-shade-400: #7396bf;
  --clr-shade-500: #375576;
  --clr-shade-600: #283d58;
  --clr-shade-700: #1c2b3f;
  --clr-shade-800: #161f2d;
  --clr-shade-900: #111822;
  --clr-shade-950: #0e1116;
}
