:root {
  /* Gray */
  --woodsmoke-50: #f4f6f7;
  --woodsmoke-100: #e4e8e9;
  --woodsmoke-200: #cbd3d6;
  --woodsmoke-300: #a7b3b9;
  --woodsmoke-400: #7b8c95;
  --woodsmoke-500: #60707a;
  --woodsmoke-600: #525f68;
  --woodsmoke-700: #475157;
  --woodsmoke-800: #3f454b;
  --woodsmoke-900: #383d41;
  --woodsmoke-950: #121416;
}
