.masonry-highlight:has(> *:hover) > *:not(:hover),
.masonry-highlight:has(> *:focus-within) > *:not(:focus-within) {
  scale: 0.975;
}

.masonry-highlight > * {
  filter: brightness(0.875);
  transition:
    scale 0.25s ease,
    filter 0.25s linear;
}

.masonry-highlight > *:hover,
.masonry-highlight > *:focus-within {
  filter: brightness(1.05);
}

/* Misc */

@keyframes start-gradient-animation {
  0%,
  100% {
    stop-color: var(--gradient-start);
  }

  60% {
    stop-color: var(--gradient-end);
  }
}

@keyframes end-gradient-animation {
  0%,
  100% {
    stop-color: var(--gradient-end);
  }
  40% {
    stop-color: var(--gradient-start);
  }
}

.text-gradient {
  --gradient-start: var(--clr-shade-100);
  --gradient-end: var(--clr-shade-800);
  --duration: 10s;
}

.text-gradient > stop:first-child {
  stop-color: var(--gradient-start);
  animation: start-gradient-animation var(--duration) ease-in-out infinite alternate;
}

.text-gradient > stop:nth-child(2) {
  stop-color: var(--gradient-end);
  animation: end-gradient-animation var(--duration) ease-in-out infinite alternate;
}

.user-type-container::before {
  content: '';
  inset: 0;
  position: absolute;
  width: 0;
  height: 0;
  background-color: var(--clr-shade-950);
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition:
    height 0.25s ease,
    width 0.25s ease,
    background-color 0.25s ease;
  opacity: 0.8;
  z-index: -1;
}

.user-type-container:hover::before {
  background-color: var(--clr-shade-900);
  width: 10rem;
  height: 10rem;
}

.user-type-decorator {
  fill: var(--clr);
  transition: fill 0.25s ease;
}

.user-type-decorator:hover {
  fill: var(--clr-shade-100);
}
