/* Misc */

@keyframes start-gradient-animation {
  0%,
  100% {
    stop-color: var(--gradient-start);
  }

  60% {
    stop-color: var(--gradient-end);
  }
}

@keyframes end-gradient-animation {
  0%,
  100% {
    stop-color: var(--gradient-end);
  }
  40% {
    stop-color: var(--gradient-start);
  }
}

.text-gradient {
  --gradient-start: var(--clr-shade-100);
  --gradient-end: var(--clr-shade-800);
  --duration: 10s;
}

.text-gradient > stop:first-child {
  stop-color: var(--gradient-start);
  animation: start-gradient-animation var(--duration) ease-in-out infinite alternate;
}

.text-gradient > stop:nth-child(2) {
  stop-color: var(--gradient-end);
  animation: end-gradient-animation var(--duration) ease-in-out infinite alternate;
}
