.main-content {
  @apply p-1 sm:p-6 lg:p-9;
}

.hero-banner {
  @apply object-cover object-left-top contrast-125 grayscale saturate-200;

  mask: linear-gradient(90deg, hsl(0 0% 0% / 0) 5%, hsl(0 0% 100% / 0.9), hsl(0 0% 0% / 0) 95%);
}

.hero::after {
  content: '';
  position: absolute;
  bottom: 75px;
  transform: translateY(50%);
  width: 75px;
  height: 75px;
  border-radius: 50% 0;
  background: linear-gradient(45deg, var(--clr-brand-600), var(--clr-brand-950));
}

.curve {
  /* position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg); */
}

/* .curve {
  position: relative;
  display: block;
  width: calc(155% + 1.3px);
  height: 167px;
} */

.curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(155% + 1.3px);
  height: 95px;
  transform: rotate(180deg);
}

.curve .shape-fill {
  fill: var(--clr-shade-100);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .curve svg {
    width: calc(177% + 1.3px);
    height: 109px;
  }
}
