.main-content {
  @apply p-1 sm:p-6 lg:p-9;
}

.hero-banner {
  @apply object-cover object-left-top contrast-125 grayscale saturate-200;

  mask: linear-gradient(90deg, hsl(0 0% 0% / 0) 5%, hsl(0 0% 100% / 0.9), hsl(0 0% 0% / 0) 95%);
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.animated-gradient::before {
  content: '';
  position: absolute;
  inset: 0;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-brand-700),
    var(--clr-accent-700)
  );
  border-radius: inherit;
  animation: rotation 15s linear infinite;
  filter: blur(3.5rem);
  opacity: 0.3;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
