:root {
  --fs-100: 0.6rem;
  --fs-200: 0.7rem;
  --fs-300: 0.775rem;
  --fs-400: 0.825rem;
  --fs-500: 0.875rem;
  --fs-600: 1rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 2rem;

  --fw-light: 100;
  --fw-regular: 300;
  --fw-medium: 500;
  --fw-bold: 700;

  --default-font-family: var(--font-default);
  --heading-font-family: var(--font-heading);

  --fs-body: var(--fs-500);
  --fw-body: var(--fw-regular);

  --navbar-top-height: 2.75rem;
  --navbar-bottom-height: 1.625rem;
  --navbar-full-height: calc(var(--navbar-top-height) + var(--navbar-bottom-height));

  --brand-gradient: linear-gradient(to right, var(--clr-shade-800) 0%, var(--clr-shade-500) 100%);
  --brand-gradient-dark: linear-gradient(
    to right,
    var(--clr-shade-100) 0%,
    var(--clr-shade-600) 100%
  );
}
